.container {
  background-color: #0a0a0c;
  color: white;
  min-height: 100vh;
  width: 100%;
}

.sectionWrapper {
  position: sticky;
  top : 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1), 
              transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  transform: scale(1.05);
  z-index: 1;
}

.activeSection {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  z-index: 10;
}

.sectionOne{
  display: flex;
  flex-direction: column;
}

.bigTitle{
  font-size: clamp(3rem, 1.5rem + 4.8vw, 4rem);
}

.timer{
  z-index: 20;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 70px;
  padding: 40px 5%;
  backdrop-filter: blur(5px);
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 0px 20px rgba(255, 93, 93, 0.5);
}

.dealTitle{
  font-size: 1.2rem;
  font-weight: 600;
  color: #f89e9e; 
  letter-spacing: 2px;
}

.timerDisplay{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
}

.separator{
  font-size: 4rem;
  color: #f2dbdb;
  opacity: 0.8;
  padding-bottom: 40px;
  text-shadow: 
    0 0 10px rgba(225, 84, 84, 0.699), 0 0 20px rgba(225, 84, 84, 0.3);
}
