.main {
  width: 100dvw;
  padding: 6% 0 0;
}

.category {
  color: gray;
  font-size: 1rem;
  padding-bottom: 20px;
}

.info {
  gap: 4vw;
  min-height: 150vh;
  padding: 0 40% 0 10%;
  position: relative;
  background-color: rgb(250, 250, 250);
}

.sectionOne {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.thumbnailArea {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 5% 10%;
  background-color: white;
}

.thumbnailContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.thumbnailMiniArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbmini {
  cursor: pointer;
  position: relative;
  width: 10vw;
  aspect-ratio: 1/1;
  background-color: red;
  img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }

  &.choose {
    border: 1px solid var(--scarlet);
  }
}

.thumbnailWrapper {
  position: relative;
  width: 90%;
  aspect-ratio: 1/1;

  img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }
}

.sold {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.soldLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--scarlet);
  font-size: 5vw;
  font-family: "Oooh Baby";
  font-weight: bold;
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    left: 1vw;
    width: 80%;
    height: 2px;
    background-color: var(--scarlet);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 2.5vw;
    width: 80%;
    height: 2px;
    background-color: var(--scarlet);
  }
}

.sectionTwo {
  //background-color: rgba(255, 84, 84, 0.03);
  background-color: rgb(250, 250, 250);
  position: fixed;
  top: 5%;
  right: 1%;
  height: 100vh;
  width: 30%;
}

.twoContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10% 5%;
  height: 90vh;
}

.companyMini {
  display: flex;
  gap: 0.5vh;
  margin-bottom: 5px;
  align-items: center;
  & div:nth-child(1) {
    font-size: 1.2vw;
  }
  & div:nth-child(2) {
    font-size: 1.7vh;
  }
}

.name {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 1vw;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & > div:nth-child(1) {
    font-size: 1.2vw;
    color: rgb(203, 199, 199);
    margin-bottom: 0.5vh;
    text-decoration: line-through;
  }
  & > div:nth-child(2) {
    display: flex;
    gap: 2vh;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 1.5vh;
  }
}

.discount {
  color: var(--scarlet);
}

.line {
  width: 100%;
  height: 2px;
  background-color: #ff54545f;
  margin: 5px 0;
}

.shipping {
  display: flex;
  align-items: flex-end;
  gap: 0.5vh;
  margin-top: 1vw;
  margin-bottom: 1vw;
  & div:nth-child(2) {
    font-size: 0.8vw;
    font-weight: bold;
  }
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > div:nth-child(1) {
    font-size: 1vw;
    font-weight: bold;
  }
  & > div:nth-child(2) {
    color: var(--scarlet);
    font-size: 2vw;
  }
}

.btnArea {
  margin-top: 4vw;
  & > div:nth-child(1) {
    margin-bottom: 1vw;
    justify-self: flex-end;
    // background-color: #ff545450;
    border: 1px solid var(--scarlet);
    padding: 0.5vw 1vw;
    border-radius: 15px;
    color: var(--scarlet);
    font-size: clamp(7px, 1vw, 20px);
  }
}

.btnContainer {
  cursor: pointer;
  display: flex;
  gap: 1vw;
  height: 4vw;
  min-height: 35px;

  & > div:nth-child(1) {
    width: 5vw;
    min-width: 35px;
    border: 1px solid black;
    &:hover {
      .alert {
        display: block;
      }
    }
  }
  & > div:nth-child(2) {
    flex: 1;
  }
}

.alert {
  display: none;
  position: relative;
  width: max-content;
  background-color: black;
  color: white;
  padding: 1vw;
  font-size: 1vw;
  margin-top: 1.5vw;
  &::before {
    position: absolute;
    top: -1.5vw;
    left: 17%;
    transform: translateX(-50%);
    content: "";
    border-top: 1vw solid transparent;
    border-left: 0.6vw solid transparent;
    border-right: 0.6vw solid transparent;
    border-bottom: 0.6vw solid black;
  }
}

.joinBuy {
  display: inline-block;
  width: 100%;
  height: 6vh;
}

.detailArea {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.detailTitle {
  position: relative;
  text-align: center;
  font-size: 7vw;
  font-family: "Oooh Baby";
  margin-top: 10vh;
  margin-bottom: 15vh;

  &:after {
    content: "";
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    height: 20%;
    display: inline-block;
    background: #ff545418;
  }
}

// .detailPhoto {
//   position: relative;
//   width: 100%;
//   min-height: 200px;
//   overflow: hidden;

//   &::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
//   }
// }

// .detailPhotoView {
//   width: 100%;
//   overflow: auto;
//   min-height: 200px;
// }

// .wrapper {
//   position: relative;
//   width: 100%;
//   height: 100vh;

//   img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     transform: translate(50, 50);
//     width: 100%;
//     height: 100%;
//     object-fit: contain;
//     margin: auto;
//   }
// }

.detailPhoto {
  position: relative;
  width: 100%;
  height: 2000px;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 80%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

.detailPhotoView {
  width: 100%; /* 컨테이너 전체 폭을 사용 */
}

.wrapper {
  height: auto; /* 자식 요소의 높이에 맞게 조정 */
  width: 100%; /* 전체 폭을 사용 */
  img {
    width: 100%; /* 이미지가 wrapper의 폭에 맞춰짐 */
    height: auto; /* 이미지의 원래 비율을 유지하면서 높이가 자동으로 설정 */
  }
}

.moreBtnArea {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 2vh;
  gap: 3vh;
  & div:nth-child(1) {
    font-size: 8vh;
    font-family: "Oooh Baby";
  }
  & div:nth-child(2) {
    font-size: 3vh;
    padding-top: 1vh;
  }
}

.sellerInfo {
  position: relative;
  margin-top: 5vh;
  padding: 40px 0 20px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.sellerTitle {
  position: relative;
  font-size: clamp(10px, 2vw, 30px);
  font-weight: bold;
  margin-bottom: 2vh;
  color: black;
  margin-left: 40px;

  // &:after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   width: 20%;
  //   height: 2px;
  //   display: inline-block;
  //   background: #d9fcdb;
  // }
}

.sellerItemArea {
  display: flex;
  gap: 50px;
  justify-content: center;
  &div:nth-child(1) {
    color: rgb(128, 128, 128);
  }
}

.sellerItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
  gap: 1vh;
  font-size: 2vw;
}
