.containers {
  display: flex;
  flex-direction: column;
  margin-bottom: 6vh;
}

.wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 3/4;

  img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }

  &:hover {
    .reserve,
    .reserveLogo {
      display: block;
    }
  }
}

.sold,
.reserve {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.soldLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--scarlet);
  font-size: clamp(40px, 3vw, 60px);
  font-family: "Oooh Baby";
  font-weight: bold;
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    left: 1vw;
    width: 80%;
    height: 2px;
    background-color: var(--scarlet);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 2.5vw;
    width: 80%;
    height: 2px;
    background-color: var(--scarlet);
  }
}

.reserve {
  display: none;
}

.reserveLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: clamp(14px, 2vw, 50px);
  text-align: center;
}

.name {
  margin-top: 1.3vh;
  width: 100%;
  font-size: clamp(12px, 1.1vw, 30px);
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  height: 2.4em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.priceArea {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  margin-top: 0.3vw;
  > div:nth-child(1) {
    font-size: clamp(10px, 1vw, 25px);
    color: gray;
    text-decoration: line-through;
  }
  > div:nth-child(2) {
    font-size: clamp(13px, 1.5vw, 35px);
    color: black;
    font-weight: bold;
  }
  > div:nth-child(3) {
    font-size: clamp(13px, 1.5vw, 35px);
    color: var(--scarlet);
    font-weight: bold;
  }
}
