.container {
  width: 100%;
  padding: 8% 15%;
  display: flex;
  flex-direction: column;
  // background-image: url("../../../../public/images/fog6.png"),
  //   url("../../../../public/images/fog6.png"),
  //   url("../../../../public/images/fog6.png");
  // background-position: 0% -20%, 550% -50%, 130% -500%;
  // background-repeat: no-repeat, no-repeat, no-repeat;
  // background-size: 90vw 60vw, 90vw 50vw, 1200px 800px;
  // background-attachment: fixed;
}

@media (max-width: 768px) {
  .container {
    padding: 15% 2%;
  }
}

.title,
.titleTwo {
  font-size: clamp(50px, 5vw, 90px);
  font-family: "Oooh Baby";
  color: var(--scarlet);
  margin-bottom: 1vh;
}

.sectionTwo {
  margin-top: 30px;
}

.titleTwo {
  color: black;
  margin-top: 3vw;
}

.categoryArea {
  margin-top: 4vh;
}

.fogContainer {
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    opacity: 0.7;
    position: absolute;
  }
  :nth-child(1) {
    width: 80vw;
    animation: fog-animation-1 30s linear infinite;
  }
  :nth-child(2) {
    width: 80vw;
    animation: fog-animation-2 40s linear infinite;
  }
  :nth-child(3) {
    width: 100vw;
    animation: fog-animation-3 50s linear infinite;
  }
}

@keyframes fog-animation-1 {
  0% {
    top: -20%;
    left: -30%;
    opacity: 0.7;
  }
  50% {
    top: -5%;
    left: -10%;
    opacity: 0.7;
  }
  100% {
    top: -20%;
    left: -30%;
    opacity: 0.7;
  }
}

@keyframes fog-animation-2 {
  0% {
    top: 60%;
    left: 10%;
    opacity: 0.6;
  }
  50% {
    top: 80%;
    left: -5%;
    opacity: 0.6;
  }
  100% {
    top: 60%;
    left: 10%;
    opacity: 0.6;
  }
}

@keyframes fog-animation-3 {
  0% {
    top: 30%;
    left: 50%;
    opacity: 0.7;
  }
  50% {
    top: 50%;
    left: 80%;
    opacity: 0.7;
  }
  100% {
    top: 30%;
    left: 50%;
    opacity: 0.7;
  }
}
