.itemArea {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  margin-top: 6vh;
  justify-content: flex-start;
}

.item {
  width: 22%;
}

.noItemImage {
  width: 80%;
  max-width: 600px;
  aspect-ratio: 4/3;
}

.noItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.noItemText {
  position: absolute;
  justify-content: space-around;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  color: var(--scarlet);
  div {
    font-size: 8vh;
    font-family: "Oooh Baby";
  }
}

@media (max-width: 768px) {
  .item {
    width: 48%;
  }

  .noItemImage {
    width: 300px;
    height: 225px;
  }

  .noItemText {
    transform: translate(0%, 0%);
    position: static;
    gap: 0;
    justify-content: center;
    div {
      font-size: 30px;
    }
  }
}
