.itemArea {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  margin-top: 6vh;
}

.item {
  width: 22%;
}

.noItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noItemText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  font-size: 8vh;
  color: var(--scarlet);
  gap: 350px;
  div {
    font-family: "Oooh Baby";
  }
}
