.joinBuy,
.waitBuy {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}

.joinBuy {
  background-color: var(--scarlet);
  color: white;
}

.waitBuy {
  background-color: #ff545450;
  // background-color: rgb(183, 183, 183);
  // color: var(--scarlet);
  // border: 1px solid var(--scarlet);
  color: white;
}

.end {
  background-color: rgb(183, 183, 183);
  height: 100%;
  text-align: center;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
