.container {
  position: relative;
  padding: 0 3% 2%;

  :global(.swiper-slide) {
    opacity: 0 !important;
    transition: opacity 0.5s;
  }

  :global(.swiper-slide.swiper-slide-active) {
    opacity: 1 !important;
  }
}

.swiperItem {
  margin: 50px 40px;
  position: relative;
}

.weekItemArea {
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 5%;
}

.imgContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 10;
  width: 30%;
  display: flex;
  align-items: center;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 6px -3px rgba(0, 0, 0, 0.103);
  aspect-ratio: 5/6;
  img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }

  &:hover {
    .reserve {
      display: block;
    }
    .reserveLogo {
      display: block;
    }
  }
}

.backGroundLight {
  padding: 5px;
  position: relative;
  width: 90%;
  min-height: 250px;
  border-radius: 10px;
  aspect-ratio: 4/2;
}

@keyframes animated_bg {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 10% 50%;
  }
}

.backGroundColor {
  height: 100%;
  background-color: #fffffffd;
  padding: 5% 5vw 5% 16vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, var(--scarlet), rgb(250, 217, 217));
    background-size: 200% 200%;
    transform: scale(0.95);
    filter: blur(1.4vw);
    z-index: -1;
    animation: animated_bg 2s ease infinite;
  }
}

// @keyframes huerotator {
//   0% {
//     -webkit-filter: hue-rotate(0deg);
//     filter: hue-rotate(0deg);
//   }

//   100% {
//     -webkit-filter: hue-rotate(360deg);
//     filter: hue-rotate(360deg);
//   }
// }

// .stock {
//   position: absolute;
//   bottom: 0;
//   padding: 0.5vw;
//   font-size: 1.5vw;
//   color: var(--scarlet);
//   font-weight: bold;
// }

.active {
  .eventTime,
  .name,
  .priceArea,
  .timeOne,
  .timeTwo,
  .stock,
  .timeFour {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1);
  }
}

@keyframes reveal {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

.timeAndstock {
  display: flex;
  align-items: center;
  gap: 10px;
}

.eventTime {
  background-color: var(--scarlet);
  // background-image: linear-gradient(147deg, #fe8a39 0%, var(--scarlet) 74%);
  // background-image: linear-gradient(147deg, #ff9494 0%, var(--scarlet) 74%);
  width: fit-content;
  padding: 7px 15px;
  text-align: center;
  font-size: clamp(9px, 1.1vw, 20px);
  color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(252, 56, 56, 0.3);
  display: flex;
  gap: 5px;
}

.stock {
  color: var(--scarlet);
  font-size: clamp(10px, 1.1vw, 20px);
  font-weight: 700;
}

.name {
  margin-top: 4px;
  padding-left: 5px;
  padding-bottom: 0.2em;
  font-size: clamp(21px, 2.2vw, 35px);
  font-weight: 500;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  height: 2.5em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  //text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.183);
}

.priceArea {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5vw;
  padding-left: 5px;
  > div:nth-child(1) {
    font-size: clamp(10px, 2vw, 40px);
    color: gray;
    text-decoration: line-through;
  }
  > div:nth-child(2) {
    font-size: clamp(20px, 4.5vw, 60px);
    color: black;
    font-weight: bold;
  }
  > div:nth-child(3) {
    font-size: clamp(22px, 3vw, 50px);
    color: var(--scarlet);
    font-weight: bold;
  }
}

.timeOne,
.timeTwo,
.timeThree,
.timeFour {
  color: var(--scarlet);
  text-align: center;
  // text-shadow: 0px 0px 5px #ff54547f, 0px 0px 10px #ff54547f,
  //   0px 0px 20px #ff54547f;
  // text-shadow: 0 -3px 0 #ff54547f, 0 6px 8px #ff54549d, 0 9px 10px #ff54543f,
  //   0 30px 10px #ff54544e, 0 15px 10px #ff545457;
  text-shadow: 0.03em 0.03em #eeeeee, 0.06em 0.06em #ff545457;
}

// 오픈예정(오늘)
.timeOne {
  font-size: 8vw;
}

// 오픈예정(오늘 이후)
.timeTwo {
  font-size: clamp(20px, 5.5vw, 110px);
}

// 타임딜종료
.timeThree {
  font-size: clamp(20px, 5vw, 100px);
}

// 타임딜진행중
.timeFour {
  font-family: "Paperozi";
  font-size: clamp(21px, 4vw, 70px);
  font-weight: bold;
}

.paginationButton {
  z-index: 22;
  top: 50% !important;
  transform: translateY(-50%);
  position: absolute;
  right: 9%;
  left: auto !important;
  width: 11px !important;
  height: fit-content;
  text-align: center;

  :global(.swiper-pagination-bullet) {
    margin: 8px 0 !important;
    width: 0.7vw;
    height: 0.7vw;
    display: block;
    border-radius: 10px;
    background: var(--scarlet);
    opacity: 0.2;
    transition: all 0.3s;
  }

  :global(.swiper-pagination-bullet-active) {
    opacity: 1;
    background: var(--scarlet);
    height: 1.5vw;
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
  }
}

.sold {
  z-index: 100;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.soldLogo {
  width: 100%;
  text-align: center;
  z-index: 120;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--scarlet);
  font-size: clamp(50px, 6vw, 70px);
  font-family: "Oooh Baby";
  font-weight: bold;
  // &::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   bottom: 3px;
  //   left: 1vw;
  //   width: 80%;
  //   height: 2px;
  //   background-color: var(--scarlet);
  // }
  // &::after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   bottom: -1px;
  //   left: 2.5vw;
  //   width: 80%;
  //   height: 2px;
  //   background-color: var(--scarlet);
  // }
}

.noItemImage {
  margin-top: 50px;
  max-width: 400px;
  width: 70%;
  aspect-ratio: 4/5;
}

.noItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noItemText {
  font-size: clamp(25px, 8vh, 70px);
  color: var(--scarlet);
  font-family: "Oooh Baby";
}

@media (max-width: 768px) {
  .noItemImage {
    width: 200px;
    height: 250px;
  }
  .noItem {
    margin-top: 20px;
  }
  .noItemText {
    font-size: 25px;
  }

  .weekItemArea {
    padding-left: 0;
  }

  .imgContainer {
    display: flex;
    align-items: center;
    width: 45%;
  }

  .wrapper {
    aspect-ratio: 1/1;
  }

  .backGroundLight {
    width: 90%;
    aspect-ratio: 5/3;
  }

  .backGroundColor {
    padding: 5% 5% 5% 47%;
  }

  .name {
    height: 3.7em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

@media (max-width: 470px) {
  .weekItemArea {
    flex-direction: column;
    align-items: center;
  }

  .imgContainer {
    display: flex;
    position: relative;
    align-items: center;
    width: 90%;
    transform: translateY(0);
  }

  .wrapper {
    aspect-ratio: 4/5;
  }

  .backGroundLight {
    z-index: 20;
    position: absolute;
    bottom: 0;
    width: 90%;
    min-height: 100px;
  }

  .backGroundColor {
    padding: 5%;
    //border-radius: 0;
    background-color: rgba(0, 0, 0, 0.259);
    &::after {
      display: none;
    }
  }

  .name {
    font-weight: 400;
    color: white;
    line-height: 1.2;
    height: 2.5em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .timeAndstock {
    position: absolute;
    top: -100%;
  }

  .priceArea {
    > div:nth-child(1) {
      font-size: clamp(20px, 5vw, 25px);
      color: rgb(255, 255, 255);
    }
    > div:nth-child(2) {
      font-size: clamp(25px, 7vw, 40px);
      color: white;
    }
    > div:nth-child(3) {
      font-size: clamp(22px, 6vw, 35px);
    }
  }

  .timeTwo {
    font-size: 40px;
  }

  .timeThree {
    font-size: clamp(30px, 10vw, 50px);
  }

  .timeFour {
    margin-top: 5px;
    box-shadow: 10px 10px 6px -3px rgba(0, 0, 0, 0.103);
    background-color: #ff5454dd;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: clamp(20px, 8vw, 30px);
    text-shadow: 0.03em 0.03em #6b0404, 0.06em 0.06em #710202e9;
    text-shadow: none;
  }

  .paginationButton {
    width: 200px !important;
    top: 90% !important;
    left: 50% !important;
    transform: translateX(-50%);

    :global(.swiper-pagination-bullet) {
      margin-right: 8px !important;
      display: inline-block;
      width: 10px;
      height: 10px;
    }

    :global(.swiper-pagination-bullet-active) {
      width: 20px;
    }
  }
}
