.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dayBox {
  cursor: pointer;
  position: relative;
  text-align: center;
  width: 10%;
  padding-bottom: 1vh;
  font-size: clamp(14px, 1.5vw, 30px);
}

.sun {
  color: red;
}

.sat {
  color: #156fb9;
}

.dayNum {
  font-weight: bold;
}

.underBar {
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: var(--scarlet);
}
